/* ---- reset ---- */

body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #353535;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* ---- custom style ---- */

.kairoverse {
    position: absolute;
    width: 100%;
    top: 50%;
    z-index: 1;
    color: #fff;
    font-size: 52px;
    font-weight: bolder;
    text-align: center;
}
